*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-width:380px;
    font-family: 'Karla', sans-serif;
}

h1,h2,h3{
    font-family: 'DM Serif Display', serif;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 25px;
}

nav ul{
    display: flex;
}

.nav-bar{
    margin:20px 15px;
    display:none;
}

.nav-bar a{
    text-decoration: none;
}

.nav-bar li{
    list-style: none;
}

.container{
    margin:15px 20px;
}

.hero{
    background-color: hsl(256, 26%, 20%);
    position:relative;
    min-height: 400px;
}

.hero-container{
    position:relative;
}

.mb-img{
    width:100%;
}

.icon-img-ds{
    display: none;
}

.ds-img{
    display: none;
}

.hero-section{
    display:flex;
    justify-content: center;
    align-items:center;
    color:#fff;
    padding:25px 26px; 
    margin:auto 12px;
    text-align: center;
    min-height: 250px;
}

.intro-right{
    position:absolute;
    right:0;
    bottom:-40%;
}

.intro-left{
    position:absolute;
    top:0;
    left:0;
}

.txt {
    position: absolute;
    padding: 5px 20px;
    margin:15px 12px;
    border-radius: 10px;
    color: white;
}

.plan-btn{
    width:120px;
    padding:10px;
    margin:12px 10px;
    background: transparent;
    color:#fff;
    text-transform: uppercase;
    border:2px solid white;
}

.hero-section p{
    font-weight: 400;
}

.hero-section h1{
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2em;
    letter-spacing: 1.5px;
    padding:0 25px;
}

.cards{
    display:flex;
    flex-direction: column;
    margin: 20px 12px;
    padding: 5px 20px;
    text-align: center;
}

.card .icon{
    
    max-width: 50px;
    margin:15px auto;
}

.img-icon{
    width:100%;
}

.card-txt h3{
    margin-bottom:11px;
    font-size: 24px;
    font-weight: 400;
}

.line{
    border:1px solid hsl(256, 26%, 20%);
    width:100px;
}

.dark-card{
    margin: 20px 12px;
}

.work-section{
    background-color:hsl(256, 26%, 20%) ;
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    padding:25px 20px;
    min-width:180px;
    text-align: center;
    /* font-size: 1.2rem; */
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.work-section h2{
    font-weight: 400;
    line-height: 1.9rem;
    font-size: 2rem;
}

.work-btn{
    background-color: transparent;
    color:#fff;
    border:2px solid #fff;
    padding:10px 18px;
    margin:20px  22px;
}
.work-btn a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 400;
}


@media(min-width:1024px){
    .nav-bar{
        display:block;
        display: flex;
        text-transform: uppercase;
    }

    .nav-bar a{
        color:black;
        margin-right: 15px;
    }

    .hamburger{
        display:none;
    }

    .hero{
        /* position: inherit; */
        min-height:600px;
    }

    .hero-section{
        text-align: start;
    }

    .icon-img-ds{
        display:block;
    }

    .ds-img{
        display: block;
        position:absolute;
        width:45%;
        right:5%;
        top:40%;
        z-index:3;
    }

    .txt{
        width:45%;
        left:0;
        top:200px;
        margin:15px 20px;
    }

    .ds-left{
        position:absolute;
        left:0;
        top:100%;
    }

    .ds-right{
        position: absolute;
        width:300px;
        top:22%;
        right:0;
        z-index: 4;
    }


    .hero-section h1{
        padding:0;
        font-size: 3rem;
    }

    .txt-content{
        font-size: 14px;
        line-height: 1.5rem;
    }

    .hero-img-mb, .mb-img{
        display:none;
    }

    .container{
        margin:5rem 0;
        padding:4rem 0;
    }

    .cards{
        display:flex;
        flex-direction: row;
    }

    .heading{
        margin:2rem 3.5rem;
        padding-top:2rem;
    }

    .line{
        margin:1.5rem 0;
    }

    .container-title{
        font-size: 2rem;
    }

    .cards{
        text-align: start;
    }

    .card{
        margin:15px 18px;
    }

    .card .icon{
        margin:10px 0;
    }

    footer{
        background-color:  hsl(0, 0%, 98%);
        background-image: url(./images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        padding:20px 15px;
    }

    .footer-nav{
        display:flex;
        justify-content: space-between;
        margin-top:20px;
        margin-bottom: 5px;
        padding:15px 20px;
    }

    .foot-logo{
        width:90px;
        height:15px;
    }

    .foot-logo img{
        max-width:100%;
        max-height: 100%;
    }

    .line-02{
        border:0.5px solid hsl(273, 4%, 51%);
        margin-bottom:25px;
        padding: 0 20px;
    }

    .footer-bar{
        display:flex;
        text-transform: uppercase;
    }

    .sub{
        display:flex;
        flex-direction:column;
        font-size: 14px;
        margin:10px 15px;
        width:25%;
    }

    .title{
        color:hsl(273, 4%, 51%);
        margin:15px 0;
    }
}