*{
    margin:0;
    padding:0;
}

body{
    min-width:420px;
    font-family: 'Karla', sans-serif;
}

h1,h2,h3{
    font-family: 'DM Serif Display', serif;
}

nav{
    display:flex;
    justify-content: space-between;
    margin:20px 25px;
}

.nav-bar{
    margin:20px 15px;
    display:none;
}

.nav-bar a{
    text-decoration: none;
}

.nav-bar li{
    list-style: none;
}

.hero img{
    width:100%;
}

.container{
    margin:15px 20px;
}

.hero{
    position:relative;
}

.hero-section{
    position: relative;
    z-index: 1;
    background-color: hsl(256, 26%, 20%);
    color:#fff;
    padding:25px 20px; 
    margin:0 auto;
    text-align: center;
    min-height: 250px;
}

.hero-section img{
    max-width: 200px;
}

.background-pattern-left,
.background-pattern-right{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.txt {
    position: absolute;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    color: white;
  }


.hero-section p{
    font-weight: 400;
}

.hero-section h1{
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2em;
    letter-spacing: 1.5px;
    width:65%;
    padding:0 25px;
    margin:0 auto;
}

.card{
    display:flex;
    flex-direction: column;
    margin: 20px 12px;
    padding: 5px 20px;
    text-align: center;
}
.card .icon{
    
    max-width: 50px;
    margin:15px auto;
}

.img-icon{
    width:100%;
}

